**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.sh
*.pth
*.pkl
*.zip
*.bin
output
opencood/utils/box_overlaps.cpython-37m-x86_64-linux-gnu.so
opencood/utils/box_overlaps.c
opencood/logs/
